.App-link {
  color: #61dafb;
}

.Mobile-view {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  overflow: hidden; /* Prevent image overflow */
}

.Mobile-view img {
  width: 100%;          /* Take full width */
  height: 100%;         /* Take full height */
  object-fit: contain;  /* Ensure the entire image fits */
}